<div class="login-container">
  <div class="form-container">
    <h2>{{'Sign_In_to' | translate }}</h2>
    <nz-alert
      *ngIf="error"
      nzShowIcon
      nzType="error"
      [nzMessage]="error"
      [ngStyle]="{ 'margin-bottom': '16px' }"
    ></nz-alert>
    <form (ngSubmit)="onSubmit()">
      <div class="input-container">
        <label for="email">{{'Email_address' | translate }}</label>
        <input
          nz-input
          type="email"
          name="email"
          placeholder="{{'placeholder_loging' | translate }}"
          [(ngModel)]="email"
        />
      </div>
      <div class="input-container">
        <label for="password">{{'Password' | translate }}</label>
        <input
          nz-input
          type="password"
          name="password"
          placeholder="{{'placeholder_password' | translate }}"
          [(ngModel)]="password"
        />
      </div>
      <div class="cta-container">
        <button
          nz-button
          type="submit"
          [disabled]="!canSubmit()"
          [nzLoading]="loading"
        >
          {{'sign_in' | translate }}
        </button>
        <div><a routerLink="/register">{{'new_account' | translate }}</a></div>
      </div>

      <div class="forgot-password">
        <a href="">{{'forgot_password' | translate }}</a>
      </div>
    </form>
  </div>
</div>
